@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-image: url(https://images.unsplash.com/photo-1573450197558-86f7e3ed836b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1471&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 60%;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: -1.5em;
    padding-bottom: 0.6em;
    text-align: center;
}

.countdown {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.countdown h3 {
    font-size: 3.8rem; 
}

.countdown p {
    font-size: 13px;
    font-weight: 600;
}

@media (max-width: 725px) {
    h2 {
        font-size: 2rem;
        font-weight: 600;
    }
    .container {
        width: 80%;
    }
    .countdown h3 {
        font-size: 3rem;
    }
    .countdown p {
        font-size: 16px;
    }
}

@media (max-width: 524px) {
    h2 {
        font-size: 1.8rem;
        font-weight: 700;
    }
}